[submodule "eos240-public"]
	path = eos240-public
	url = https://github.com/blakedyer/eos240-public
[submodule "eos423-public"]
	path = eos423-public
	url = https://github.com/blakedyer/eos423-public
[submodule "eos408-public"]
	path = eos408-public
	url = https://github.com/blakedyer/eos408-public
[submodule "source/eos408-public"]
	path = source/eos408-public
	url = https://github.com/blakedyer/eos408-public
[submodule "source/eos423-public"]
	path = source/eos423-public
	url = https://github.com/blakedyer/eos423-public
